@page "{standId:Guid}"

@model App.Pages.Admin.GerenciamentoProdutoModel

@{
    ViewData["Title"] = "Gerenciamento de Produtos";
}

<body>
    <partial name="_Notificacao"></partial>

    <div class="container mt-3 mb-3">
        <a href="/admin/inclusaoproduto/@Model.StandId" class="btn btn-success" role="button">Incluir Produto</a>
    </div>

    @if (Model.Produtos != null && Model.Produtos.Any())
    {
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Qtd. Disponível</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var indice = 1;

                        @foreach (var produto in Model.Produtos)
                        {
                            <tr>
                                <td>@indice</td>
                                <td>@produto.Id</td>
                                <td>@produto.Nome</td>
                                <td>@produto.QuantidadeDisponivel</td>
                                <td>
                                    <a href="/admin/visualizacaoproduto/@produto.Id" role="button" class="btn" title="Visualizar">
                                        <i class="fa fa-eye fa-fw text-dark"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/admin/edicaoproduto/@produto.Id" role="button" class="btn" title="Editar">
                                        <i class="fa fa-pen fa-fw text-dark"></i>
                                    </a>
                                </td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" asp-for="StandId">
                                        <button type="submit" class="btn" asp-page-handler="delete" name="produtoId" value="@produto.Id" title="Excluir">
                                            <i class="fa fa-times fa-fw text-dark"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            indice++;
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</body>